################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SEAR_WEB/SEAR_RP_CERT.pfx
/.vs/TE SEAR RP System.slnx/FileContentIndex
/SEAR_WEB/appsettings.json
/SEAR_WEB/Program.cs
