################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

SEAR_WEB/SEAR_RP_CERT.pfx
**/.vs/
SEAR_WEB/appsettings.json
**/bin/
**/obj/
