@{
    ViewData["Title"] = "Passkey Authentication";
}

<div style="padding-top: 200px;">
    <h2>Passkey Authentication Demo</h2>
    <a href="@Url.Action("RegisterPasskey", "Passkey")"><button>Create User Account</button></a>
    <form asp-controller="Passkey" asp-action="Logout" method="post">
        Display Name: @User.FindFirst("DisplayName")?.Value
        <input type="submit" value="Logout" />
    </form>
</div>

<div style="padding-top: 50px;">
    <button onclick="loginPasskey()">Login with Passkey</button>
</div>
<p id="loadingMessage" style="color:yellow;"></p>
<a href="@Url.Action("ViewPasskey", "Passkey")"><button>View Passkey</button></a>

<script>
    async function loginPasskey() {
        document.getElementById("loadingMessage").innerText = "Loading...";

        try {
            const response = await fetch('/Passkey/LoginRequest', {
                method: 'POST'
            });

            if (!response.ok) {
                alert("Login request failed.");
                return;
            }

            const options = await response.json();

            options.challenge = base64UrlToBuffer(options.challenge);

            if (options.allowCredentials) {
                options.allowCredentials.forEach(x => {
                    x.id = base64UrlToBuffer(x.id);
                });
            }

            const assertion = await navigator.credentials.get({
                publicKey: options
            });

            const result = await fetch('/Passkey/LoginResponse', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(assertion)
            });

            if (!result.ok) {
                alert("Passkey Credentials are incorrect.");
                return;
            }

            const responseJson = await result.json();

            if (responseJson.success) {
                window.location.href = responseJson.redirectUrl;
            } else {
                alert("Login failed.");
            }
        } catch {
            alert("Unexpected error occurred.");
        } finally {
            document.getElementById("loadingMessage").innerText = "";
        }
    }

    function base64UrlToBuffer(base64url) {
        const padding = '='.repeat((4 - base64url.length % 4) % 4);
        const base64 = (base64url + padding)
            .replace(/-/g, '+')
            .replace(/_/g, '/');

        const raw = window.atob(base64);
        const buffer = new ArrayBuffer(raw.length);
        const view = new Uint8Array(buffer);

        for (let i = 0; i < raw.length; ++i)
            view[i] = raw.charCodeAt(i);

        return buffer;
    }
</script>