@{
    ViewData["Title"] = Localizer["Register Additional Passkey"];
}
<script src="~/js/Passkey/RegisterPasskey.js"></script>
<script src="~/js/Passkey/Shared.js"></script>

<div style="padding-top:200px;">
    <h2>@Localizer["Passkey Auth"]</h2>

    <input type="text" id="username" placeholder="@Localizer["Username"]" required />
    <input type="text" id="displayName" placeholder="@Localizer["Display Name"]" required />

    <button onclick="registerPasskey()">@Localizer["Register Passkey"]</button>

    <p id="loadingMessage" style="color:yellow;"></p>
    <p id="errorMessage" style="color:rgb(180, 0, 0);"></p>
</div>