@model RegisterAdditionalPasskeyKeyIdViewModel
@{
    ViewData["Title"] = Localizer["Register Additional Passkey"];
}
<script src="~/js/Passkey/RegisterAdditionalPasskey.js"></script>
<script src="~/js/Passkey/Shared.js"></script>

<div style="padding-top:200px;">
    @Localizer["Logged"]: @User.FindFirst("DisplayName")?.Value
    <h2>@Localizer["Register Additional Passkey"]</h2>
    <button onclick="registerAdditionalPasskey()">@Localizer["Register Additional Passkey"]</button>
    <p id="loadingMessage" style="color:yellow;"></p>
    <p id="errorMessage" style="color:rgb(180, 0, 0);"></p>
    <input type="hidden" id="keyId" asp-for="KeyId" />
</div>