@{
    ViewData["Title"] = "Test Upload";
}

<form asp-controller="File" asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" value="Upload" />
    <br />
    <button type="submit">
        Submit
    </button>
</form>