@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.UUID != null)
{
    <p>
        <strong>Track UUID:</strong> <code>@Model.UUID</code>
        <br />
        The ID above is use to track the error message, you should forward this UUID to Cat NooB or Jacob for further assistance
    </p>

    <p>If you are able to input the steps to reproduce error, please enter below, this can help us for easier debugging</p>
    @using (Html.BeginForm("SubmitExceptionSteps", "Home", new { ReturnUrl = ViewBag.ReturnURL }, FormMethod.Post, true, new { @class = "form-horizontal" }))
    {
        @Html.TextAreaFor(Model => Model.ErrorSteps, 10, 20, new { @class = "form-control", placeholder = "Enter steps here...", maxlength = "2000" })
        <input type="hidden" asp-for="UUID" />
        <button type="submit">Submit Error Steps</button>
    }
}
else
{
    <p><strong>Unable to get tracking UUID</strong></p>
    <p>This is usually due to unknown error, you should contact Cat NooB or Jacob immediately</p>
}